# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,vb,cpp}]
indent_size = 4
indent_style = tab
tab_width = 4

[{*.csproj,Directory.Build.props,*.pubxml,*.vcxproj}]
indent_size = 2
indent_style = space

[{*.yml,*.yaml,.clang-format,.clangd}]
indent_size = 2
indent_style = space
