# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,vb}]
indent_size = 4
indent_style = tab
tab_width = 4

[*.{csproj,props}]
indent_size = 2
indent_style = space
